---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//From to ./assets
@font-face {
  font-family: raleway-medium;
  src: url("./fonts/Raleway-Medium.ttf");
  src: url('./fonts/Raleway-Medium.eot') format('embedded-opentype'),
     url('./fonts/Raleway-Medium.woff2') format('woff2'),
     url('./fonts/Raleway-Medium.woff') format('woff'); 
}

// Our variables
$base-font-family: Raleway, Bitter, "Apple SD Gothic Neo", AppleGothic, NanumBarunGothic, "Malgun Gothic", Dotum, sans-serif;
$monospace-font-family: Raleway, Monaco, Menlo, Consolas, "Courier New", DotumChe, monospace;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2568ba;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 70%);
$grey-color-dark:  darken($grey-color, 30%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// whiteglass also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from the `whiteglass` theme.
@import "whiteglass";

%source-label {
  font-family: raleway-medium;
  display: inline-block;
  border-radius: 50px;
  color: white;
  height: 2rem;
  padding: 0 0.2rem 0 0.2rem;
  line-height: 2rem;
}

.site-title {
  font-family: raleway-medium;
  .marked-title {
    @extend %source-label;
    padding: 0 0.5rem 0 0.5rem;
    background-color: #3e55ff;
  }
}

a.site-title:hover{
  text-decoration: none;
}

.menu-label {
  color: white;
  background-color: #3e55ff;
  font-family: raleway-medium;
  font-size: 17px;
  display: inline-block;
  border-radius: 40px;
  height: 1.4rem;
  padding: 0 0.2rem 0 0.2rem;
  line-height: 1.4rem;
}

.institution {
  @extend %source-label;
  background-color: #2ecc40;
}

.academia {
  @extend %source-label;
  background-color: #f012be;
}

.doctor {
  @extend %source-label;
  background-color: #ff851b;
}

.publishingsource {
  @extend %source-label;
  background-color: #ffdc00;
}

.professional {
  @extend %source-label;
  background-color: #85144b;
}

.medbusiness {
  @extend %source-label;
  background-color: #3d9970;
}

.interested {
  @extend %source-label;
  background-color: #39cccc;
}

.initiative {
  @extend %source-label;
  background-color: #ff4136;
}

.association {
  @extend %source-label;
  background-color: #777777;
}

.generic {
  @extend %source-label;
  background-color: #0074d9;
}

.news {
  @extend %source-label;
  background-color: #001f3f;
}

.subsection {
  @extend %source-label;
  padding: 0 0.5rem 0 0.5rem;
  background-color: #3e54ff9e;
}

.solution {
  @extend %source-label;
  padding: 0 0.5rem 0 0.5rem;
  background-color: #3eff4ea6;
  color: #000000
}

.problem {
  @extend %source-label;
  padding: 0 0.5rem 0 0.5rem;
  background-color: #ff3e3e77;
  color: #000000
}

.test {
  @extend %source-label;
  padding: 0 0.5rem 0 0.5rem;
  background-color: #04061591;
}